.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 700px;
    height: 600px;
    margin: 0 auto; 
    padding-top: 50px;
}

.resetButton {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 16px;
}
